resource/commands/__pycache__/start.cpython-310.pyc
resource/__pycache__/__init__.cpython-310.pyc
resource/commands/__pycache__/__init__.cpython-310.pyc
resource/commands/__pycache__/_routers.cpython-310.pyc
resource/commands/__pycache__/forms.cpython-310.pyc
resource/commands/__pycache__/registration.cpython-310.pyc
resource/commands/__pycache__/start.cpython-310.pyc
